@import url('https://fonts.googleapis.com/css?family=WindSong:400,400italic%7CRaleway:200,200italic%7CInter:200,200italic');
body {
    background-color: #050505;
}
.head {
    padding: 0px 104px;
    text-align: left;
    width: 960px;
}
.top-icon {
    padding: 100px 20px 40px;
    height: 0;
}
.top-icon p {
    color: #C6927B;
    font-family: 'WindSong', sans-serif;
    font-size: 48px;
    line-height: 1.125;
    font-weight: 400;
    letter-spacing: 0.25rem; 
}
.title  {
    font-size: 108px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    font-weight: 200;
    letter-spacing: 0.025rem;
    padding-left: 20px;
    height: 140px;
}
.bottom-text {
    font-family: 'Inter', sans-serif;
    color: rgba(255,255,255,0.478);
    font-size: 24px;
    line-height: 2;
    font-weight: 200;
    letter-spacing: 0.025rem;
}
.bottom-text a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: rgba(255,255,255,0.478);
    font-size: 24px;
    line-height: 2;
    font-weight: 200;
    letter-spacing: 0.025rem;
}
.bottom-text a:hover {
    color: #fff;
}
.scroll {
    position: fixed;
    top: 45%;
    left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: 0.25s;
}
.dot:hover {
    transform: scale(1.4);
    transition: 0.5s;
}
.contact {
    max-width: 960px;
    margin: auto;
}
.bottom-text-con {
    font-family: 'Inter', sans-serif;
    color: rgba(255,255,255,0.478);
    font-size: 24px;
    line-height: 2;
    font-weight: 200;
    letter-spacing: 0.025rem; 
}
.bottom-text-con a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: rgba(255,255,255,0.478);
    font-size: 24px;
    line-height: 2;
    font-weight: 200;
    letter-spacing: 0.025rem;
}
.con-2 {
    display: flex;
}
.contact img {
    height: 350px;
    width: 250px;
    margin-left: 120px;
    margin-bottom: 50px;
}
.footer {
    border-top: rgba(63, 63, 63, 0.711) 2px solid;
    max-width: 960px;
}
.f-icon a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 25px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .head {
        padding: 0px 30px;
        width: 320px;
    }
    .top-icon {
        padding: 80px 0px 40px;
        height: 0;
    }
    .title {
        padding-left: 10px;
    }
    .top-icon p {
        font-size: 29px;
    }
    .title  {
        font-size: 44px;
        height: 80px;
    }
    .bottom-text {
        font-size: 14px;
    }
    .scroll {
        top: 40%;
        left: 0px;
    }
    .dot  {
        height: 10px;
        width: 10px;
        margin: 8px;
    }
    .contact {
        max-width: 360px;
        margin: auto;
    }
    .con-2 {
        display: block;
        margin-left: 20px;
    }
    .bottom-text-con {
        font-size: 16px;
    }
    .bottom-text-con a {
        font-size: 16px;
        margin-left: 1px;
    }
    .contact img {
        height: 300px;
        width: 200px;
        margin-left: 50px;
        margin-top: 15px;
        margin-bottom: 50px;
    }
    .footer {
        border-top: rgba(63, 63, 63, 0.711) 2px solid;
        max-width: 360px;
        top: 0;
    }
    .f-icon a {
        margin-left: 15px;
        padding-bottom: 50px;
    }
    .f-icon svg {
        height: 40px;
    }
}